.SingerItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #292626;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: #fff;
    transition: all .2s;
    text-align: left;
    cursor: pointer;

    &:hover {
        background: #5d5959;
    }
}

.SingerItem__picture{
    width: 50px;
    display: block;
    border-radius: 50%;
    margin-right: 30px;
}

.SingerItem__name{
    min-width: 130px;
}

.SingerItem__albumText{
    color: #fff;
    font-size: 14px;
}
.SingerItem__albumName{
    color: #229c22;
}