.ContentSongsList__search{
    margin-bottom: 40px;
}

.search{
    font-size: 20px;
    width: 100%;
    color: green;
    border: none;
    outline: none;
    display: block;
}

.ContentSongsList__lista{
    font-size: 18px;
    color: #5a5a98;
    font-weight: 600;
    text-transform: uppercase;
}