.Header {
    padding: 45px 0;
    background-color: #0a7d0a;
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

.Header__title {
    margin: 0;
    font-weight: 800;
    letter-spacing: 1px;
}

.Header__image {
    width: 100px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 50%;
}