.SongItem {
    background-color: #292626;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: #fff;
    transition: all .2s;
    text-align: left;
    cursor: pointer;
    &:hover {
        background: #383636;
    }
}

.SongItem__singers{
    color: #5a5a98;
}

.SongItem__time{
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    color: #229c22
}