.Player{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 580px ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 90%;
    padding: 10px 30px;
    background: #374ca0;
    margin: 0 auto;
    color: #fff;
}
.Player__container{
    display: flex;
    align-items: center;
}
.Player__icon{
    margin-right: 30px;
    width: 70px;
    cursor: pointer;
}