/* Global styles */

body{
    background: #f7f7f7;
    font-size: 16px;
}

.section{
    padding: 70px 0;
}

.wrapper{
    max-width: 720px;
    margin: 0 auto;
    width: 90%;
}

.box{
    background: #171616;
    border-radius: 10px;
    padding: 25px 20px;
    text-align: center;
    color: #fff;
}